@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body {
  background-color: #EEEEEE;
  font-family: 'Inter', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: block;
}

header {
  padding: 48px;
}

div#content {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}

button#login {
  width: 45rem;
  height: 5rem;
  background-color: #3A9E3E;
  color: white;
  padding: 14px 20px;
  margin: 60px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
}

input#username {
  width: 45rem;
  height: 5rem;
  padding: 20px 48px;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #EEEEEE;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
}

input#password {
  width: 45rem;
  height: 5rem;
  padding: 20px 48px;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #EEEEEE;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
}

aside#lateral {
  position: absolute;
  right: 50px;
  top: 252px;
}

img#cadu {
  width: 300px;
}

::placeholder {
  color: #404040;
  opacity: 1;
  font-size: 24px;
}